/* CSS RESET */

*, *::after, *::before {
   box-sizing: border-box;
}

:root {
   --font-sans:  stencil-std, sans-serif;
   --font-serif: bookmania, serif;

/*font-weight: 400;

font-style: normal;*/
   --color-neutral-lighter:#ead86c;
   --color-neutral-light: #ead86c;
   --color-neutral-medium: #809354;
   --color-neutral-dark: #1e2600;

   --color-main-light: #dfcd4f;

   --header-height: 3rem;
}

body {
   margin: 0;
   font-size: 100%;
   font-family: var(--font-sans-serif);
   background-color: var(--color-neutral-medium);
}

h1,
h2,
h3,
h4 {
   font-size: 1em;
   font-family: var(--font-sans);
}

a {
   color: inherit;
   font-weight: bold;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
.flex-stretch{
text-align:center;
margin-bottom:20vmin
}


/* hero */ 
.hero-image{
  width:50vmin;
  height:50vmin;
  text-align:center;

}

.hero-title{
   font-size: 1em;
   text-align:center;

margin-right: 10vmin;
margin-left: 10vmin;
border-radius: 15px;
}

.sign-up-form-control{
   text-align:center;
   font-size:1em;
}
.signup-page-signup-link{
   color: var(--color-neutral-lighter) ;
   text-decoration: underline;
   font-size: 1.3em;
}
.sign-up-form-button{
color:  var(--color-neutral-lighter);
}
/* Forms */

.form-control {
   margin: 1em 0;
   width: 90%;
   padding-left: .5em;
   align-items: center;
}
.ui-mobile .form-label {
   font-size: 0.8em;
   /* color: var(--color-neutral-medium); */
   margin: 0.5rem 0;
}
.form-input {
    
   font-size:1em;
   display: inline-block;
   width: 100%;
   border-width: 0;
   background-color: var(--color-neutral-lighter);
   font: inherit;
   padding: 0.5em 1em;
   margin: 0;
   outline: 1px;
   border-radius: 12px;
   height: 3rem;



}
.form-label{
padding-left: ;
}
.form-button {
    display: inline-block;
    border-radius: 25px;
    width: 25%;
    border: 1px solid black;
    background-color: var(--color-main-light);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
    box-shadow: 10px 5px 5px black;
 }
.hotdog {
   background-color: white;
   border-radius: 2em;
   line-height: 3rem;
   padding: 0 2em;
   margin-top:2em;
   width: 75%;
}
.hotdog input {
   border-width: 0;
   padding: 0;
   margin: 0;
   width: 100%;
   flex: 1 1 auto;
   display: block;
   font: inherit;
   color: inherit;
   outline: 0;
}
.hotdog.dark {
   background-color: var(--color-neutral-dark);
   color: white;
    box-shadow: 10px 10px 8px #888888;
}

/*      p,
   .ui-link{
      font-family:var(--font-serif);
      color:var(--color-neutral-lighter) ;
font-size: 1.5em ;
   }

*/

#signin-form,
#signup-form {
   padding: 1em;
}




/* Page Layouts */

.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
[data-role="main"] {
   flex: 1 1 100%;
   overflow: hidden;
   position: relative;
}
.ui-header,
.ui-footer {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: var(--color-neutral-lighter);
   box-shadow: 0 0 5px rgba(0,0,0,0.15);

   position: relative;
   overflow: hidden;
}
.ui-header .ui-title {
   margin: 0;
   padding: 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   text-align: center;
}


.ui-header ul,
.ui-footer ul {
   position: relative;
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align: center;
}
.ui-header a,
.ui-footer a {
   display: block;
   padding: 0 1em;
}
/*recent page*/ 
.hamburger-menu{

}
.map-menu-form-control{
   height: 15em;
   background-color: var(--color-neutral-lighter);
   width: 100%;
   height: 10%;
}
/*Profile page*/ 

.text-center{
   text-align: center;
   font-size:1.5em;
}


.profile-img{
 width: 7.8em;
 height: 7.8em;
 border-radius: 50%;
 object-fit: cover;
 text-align: center;
    margin-left: 30%;
    border: 3px solid yellow;
        text-align: center;
    margin-top: -30px;
    margin-bottom: 20px;
}
.profile-page-form-control{
   border: 1px solid green;
   padding-top:  50px;
}
.profile-first-name-form-label{
   display: inline-block;
   width: 50%;
   border-width: 50%;
   font: inherit;
   padding: 0.7em 1.8em;
   margin: 0;
   outline: 1px;
   float: left;
   border: 2px solid black;
}
.profile-last-name-form-label{
    
   width: 50%;
   border-width: 50%;

   font: inherit;
   padding: 0.7em 1.8em;
   margin: 0;
   outline: 1px;
   border-radius: 12px;
   
   float: left;
}
.profile-form-input{
      display: inline-block;
     /*  width: 50%; */
      border-width: 50%;
      background-color: var(--color-neutral-lighter);
      font: inherit;
      padding: 0.5em 1em;
      margin: 0;
      outline: 1px;
      border-radius: 15px;
      height: 3rem;
      float: right;
      margin-right: 18px;
      margin-top: 0px;
}
.first-name-lable{
   border: -2px solid red;
   border-width: 135px;
   padding-right: -191px;
}



/*.hamburger-menu {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   transition: all 0.2s;
   opacity: 0;
   z-index: 10; 
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}*/

/* Modals */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   transition: all 0.2s;
   opacity: 0;
   z-index: 10;
}
.modal.active {
   opacity: 1;
   pointer-events: initial;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}
.modal-back.transparent {
   background-color: transparent;
}
.modal-back.passthrough {
   pointer-events: none;
}

.modal-popup {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, calc(-50% + 3em));
   width: calc(100vw - 3em);
   max-height: calc(100vh - 3em);
   overflow: hidden;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   transition: all 0.4s;
}
.modal.active .modal-popup {
   transform: translate(-50%, -50%);
}
.modal-head,
.modal-foot {
   background-color: var(--color-neutral-lighter);
   line-height: 2.3rem;
   padding: 0 1em;

}

.module-button {
    display: inline-block;
    border-radius: 25px;
    border: 1px solid black;
  box-shadow: 3px 5px 5px black;
 color:  black;
    background-color: var(--color-main-light);
    font: inherit;
    padding: 0.5em 2em;
    margin: 0;
    outline: 0;
    text-align: center;
   

 
 }
.modal-body {
   background-color: white;
   flex: 1 1 100%;
   padding: 1em;
}

.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow: 0 0 5px rgba(,0,0,0.3);
}

.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 40vh;
   width: 100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
}


/* floater */
.floater { position: absolute; }
.floater.top { top:1rem }
.floater.right { right:1rem }
.floater.bottom { bottom:1rem }
.floater.left { left:1rem }


.circle-button {
   border-radius: 2rem;
   line-height: 3rem;
   font-size: 2.5em;
   width: 3rem;
   height: 3rem;
   text-align: center;
   background-color: white;
   box-shadow: 0.1em 0.2em 0.4em rgba(0,0,0,0.2);
}











/* Animal List */
.animal-list {
   list-style-type: none;
   padding: 0;
   margin: 0;
   padding: 0 1em;
   height: 100%;
   width: 100%;
   position: relative;
   overflow: auto;
}
.animal-list-item a {
   display: flex;
   font-weight: normal;
   margin: 1em 0;
   border-radius: 0.5em;
   overflow: hidden;
   box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}
.animal-list-item a:hover {
   text-decoration: none;
}
.animal-list-image img {
   width: 7.5em;
   height: 5.5em;
   vertical-align: text-bottom;
border-radius:1.5em;
margin-top: .5em;
}
.animal-list-body {
   padding: 1em;
}
.animal-list-name {
   font-size: 1.3em;
}

/* foote nav */
.nav-icon-set li.active {
   
}
.nav-icon {
    line-height: 2rem;
    display: block;
}
.nav-icon .icon {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
}
.nav-icon-label {
    line-height: 1rem;
    display: block;
    font-size: 0.8em;
}



.map-placeholder {
   background-image: url(../imgs/fakemap.jpg);
   background-position: center;
   background-size: cover;
}
.icon {
   width: 50rem;
   height:50rem;
}

.footer-template{
   border: 1px solid red;
}





/* Layout Classes */

.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex:none; }
.flex-throughout { flex: 1 0 100%; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }

.flex-column { flex-direction:column; }
.overscroll { overflow:auto; }


.text-center { text-align:center; }



