/* CSS RESET */

*, *::after, *::before {
   box-sizing: border-box;
border-bottom: 0;}

:root {
   --font-sans:  stencil-std, sans-serif;
   --font-serif: bookmania, serif;

/*font-weight: 400;

font-style: normal;*/
--color-neutral-lighter:#ead86c;
--color-neutral-light: #ead86c;
--color-neutral-medium: #809354;
--color-neutral-dark: #ede69a;

--color-main-light: #dfcd4f;

--header-height: 3rem;
}

body {
   margin: 0;
   font-size: 100%;
   font-family: var(--font-serif);
   background-color: var(--color-neutral-medium);
}

h1,
h2,
h3,
h4 {
   font-size: 1em;
   font-family: var(--font-sans);
/* align-content: center; */}

a {
   color: inherit;
   font-weight: bold;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
.flex-stretch{
   text-align:center;
   margin-bottom:20vmin
}


/* hero */ 
.hero-image{
 width: 91vmin;
 height:50vmin;
 text-align:center;
 margin-top: 22px;
}

.hero-title{
   font-size: 2.2em;
   text-align:center;
  
}

.sign-up-form-control{
   text-align:center;
   font-size:1em;
   margin-right: auto;
}
.signup-page-signup-link{
   color: var(--color-neutral-lighter) ;
   text-decoration: underline;
   font-size: 1.3em;
}
.sign-up-form-button{
   color:  var(--color-neutral-lighter);
}
/* Forms */

.form-control {
   margin: 1em 0;
}
.ui-mobile .form-label {
   font-size: 0.8em;
   color: var(--color-neutral-medium);
   margin: 0.5rem 0;
}
.form-input {
   display: inline-block;
   width: 100%;
   border: none;
   background-color: #f8f8f8;
   font: inherit;
   padding: 0.5em 1em;
   margin: 0;
   outline: 0;
   border-left: 20px;
   margin-radius: 23%;
   border-radius: 33px;
    width: 100;
    /* height: 55px; */
    border-radius: 2px;
    
 }


.form-label{
   font-family: var(--sans-serif);
}



.form-button {
   display: inline-block;
   width: 100%;
   border-width: 0;
   background-color: var(--color-neutral-lighter);
   font: inherit;
   padding: 0.5em 1em;
   /* margin: 0; */
   outline: 0;
   text-align: center;
   text-decoration: none;
   box-shadow: 2px 5px  var(--color-neutral-dark);

    border-radius: 8px
}
.sign-up-text{
   /* margin-left: -13em; */
   margin-top: 0;
}

hr{
   margin-top: 27px;
   /* color: #e4dddd; */
   /* border: none; */
   
   width: 90%;
   align-content: center;
   border-bottom:0;
   border-bottom: 2px solid var(--color-neutral-light);
}
.sign-up-button{
  display: inline-block;
  border-radius: 25px;
  margin: 0;
  width: 30%;
  border: none;
  /* border: 1px solid black; */
  background-color: var(--color-main-light);
  font: inherit;
  padding: 0.5em 1em;
  /* margin: 0; */
  outline: 0;
  text-align: center;
  text-decoration: none;
  box-shadow: 3px 5px 5px black;
}

.errorMessage{
    font-size: 20px;
    text-align: center;
    color:#670E10;
    font-family: var(--font-sans);
}
.hotdog {
   background-color: white;
   border-radius: 12em;
   line-height: 3rem;
   padding: 0 2em;
}
.hotdog input {
   border-width: 0;
   padding: 0;
   margin: 0;
   width: 100%;
   flex: 1 1 auto;
   display: block;
   font: inherit;
   color: inherit;
   outline: 0;
}

.hotdog-recent{
 

  width: 80%;
  padding-top: 1.2;
  padding: 0.6em;
  border-radius: 25px;
}
.hotdog.dark {
   background-color: var(--color-neutral-dark);
   color: white;
}

/*      p,
   .ui-link{
      font-family:var(--font-serif);
      color:var(--color-neutral-lighter) ;
font-size: 1.5em ;
   }

*/

#signin-form,
#signup-form {
   padding: 1em;
}
#recent-search {
   box-shadow: 0.1em 0.2em 0.4em rgba(0,0,0,0.3);
}




.recent-search {
   margin: 1em;
   display: flex;
   position: relative;
}


/* Page Layouts */



.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.ui-mobile .form-label{
   margin: -.5rem 1em;
}
[data-role="main"] {
   flex: 1 1 100%;
   overflow: hidden;
   position: relative;
}
.ui-header,
.ui-footer {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: var(--color-neutral-lighter);
   box-shadow: 0 0 5px rgba(0,0,0,0.15);

   position: relative;
   overflow: hidden;
}
.ui-header .ui-title {
   margin: 0;
   padding: 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   text-align: center;
}


.ui-header ul,
.ui-footer ul {
   position: relative;
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align: center;
}
.ui-header a,
.ui-footer a {
   display: block;
   padding: 0 1em;
}
/*recent page*/ 

#menu-icon {
    margin: -526px 75px -21px -453px;
}


#app-title:active{

    align-items: center;
    align-items: center;
    align-self: center;
    margin-left: 98px;
    /* margin-bottom: -14px; */
    margin-top: 1px;
}

#app-title:{

visibility: hidden;
}
.map-menu-form-control{
   height: 15em;
   background-color: var(--color-neutral-lighter);
   width: 100%;
   height: 10%;
}




/*Profile page*/ 

.text-center{
   text-align: center;
   font-size:1em;
}


.profile-img{
  width: 6em;
  height: 6em;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
  margin-left: 38%;
  border: 3px solid var(--color-main-light);
  text-align: center;
  margin-top: 17px;
  margin-bottom: 0px;
}
.profile-page-form-control{
   border: 1px solid green;
   padding-top:  50px;
}
.profile-first-name-form-label{
   display: inline-block;
   width: 50%;
   border-width: 50%;
   font: inherit;
   padding: 0.7em 1.8em;
   margin: 0;
   outline: 1px;
   float: left;
   border: 2px solid black;
}
.profile-last-name-form-label{
  
   width: 50%;
   border-width: 50%;

   font: inherit;
   padding: 0.7em 1.8em;
   margin: 0;
   outline: 1px;
   border-radius: 12px;
   
   float: left;
}
.profile-form-input{
   display: inline-block;
   /*  width: 50%; */
   border-width: 50%;
   background-color: var(--color-neutral-lighter);
   font: inherit;
   padding: 0.5em 1em;
   margin: 0;
   outline: 1px;
   border-radius: 15px;
   height: 3rem;
   float: right;
   margin-right: 18px;
   margin-top: 0px;
}
.first-name-lable{
   border: -2px solid red;
   border-width: 135px;
   padding-right: -191px;
}

.user-name{
  margin-bottom: 10px;
  margin-top: 0px;
  height: 0px;
}

/*.hamburger-menu {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   transition: all 0.2s;
   opacity: 0;
   z-index: 10; 
}*/


/* Modals */
/* Modals */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   transition: all 0.2s;
   opacity: 0;
   z-index: 10;
}
.modal.active {
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}
.modal.active .modal-back {
   pointer-events: initial;
}
.modal-back.transparent {
   background-color: transparent;
}
.modal-back.passthrough {
   pointer-events: none;
}

.modal-popup {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, calc(-50% + 3em));
   width: calc(100vw - 3em);
   max-height: calc(100vh - 3em);
   overflow: hidden;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   transition: all 0.4s;
}
.modal.active .modal-popup {
   transform: translate(-50%, -50%);
   pointer-events: initial;
}
.modal-head,
.modal-foot {
   background-color: var(--color-neutral-lighter);
   line-height: 2rem;
   padding: 0 1em;
}
.modal-body {
   background-color: white;
   flex: 1 1 100%;
   padding: 1em;
}

.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left:0; transform:translateX(-100%); }
.modal-drawer.right { right:0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 40vh;
   width: 100%;
}
.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
   pointer-events: initial;
}
 





/* floater */
.floater { position: absolute; }
.floater.top { top:1rem }
.floater.right { right:1rem }
.floater.bottom { bottom:1rem }
.floater.left { left: -1rem;}



/*.add-button {
    position: fixed;
    width: 42px;
    height: 42px;
    bottom: 624px;
    right: 164px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #4f4747;
    background-image: url("../imgs/icons/add.svg"); 
     background-image: center; 
     background-image: no-repeat; 
   background-size: 49px;

 }*/

.map {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.map-placeholder {
   background-image: url(../img/map.jpg);
   background-position: center;
   background-size: cover;
}
/*.icon {
   width: 1rem;
   height: 1rem;
   vertical-align: middle;
}*/
#pencil-icon{

    margin: 0px 0px 0px -62px;
}


/* User Profile */

.user-profile-head {
   position: relative;
margin: 0 0 -30px 0;
}
.user-profile-head>img {
  width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 50%;
   margin:  0 auto 20px auto;
   display: block;
   border: 1px solid var(--color-main-light);
  
padding-top:;}
.user-profile-body {
   padding: 1em;
   font-size: 1.3em;
  
}

.profile-name{
  
   font-size: 2em;
   font-family: var(--font-sans);
  
    margin: 0 0 17px 0;
padding-left: 118px;
padding-top: -10px;

align-content: center;}
.settings-icon{
      /* width: 47.5em; */
    /* height: 56.5em; */
    /* margin: -273px -25px -43px -3px; */
}
.user-profile-body>div{

   border: 1px solid var(--color-main-light);
   color: var(--color-main-light) ;
}

.edit-icon{
    width: 9rem;
    height: 2rem;
    margin: 0 auto -22px 228px;
box-shadow: antiquewhite;}
.edit-text{
    height: 2rem;
        margin: 0 auto 8px 159px;
    font-size: .8em;
}


.title-user {
    font-weight: 300;
    color: var(--color-main-light);
    font-size: .8em;
    letter-spacing: 1px;
    margin: 22px -106px 3px 5px;
}
.user-info {
 display: inline-block;
   width: 100%;
   border: none;
   background-color: var(--color-neutral-lighter);
   font: inherit;
   padding: 0.5em 1em;
   margin: 0;
   outline: 0;
   border-left: 20px;margin-radius: 23%;
    width: 100;
 
    border-radius: 8px}

.user-page{
   padding: 1em;
}.profile-bg {
   width: 631px;
    margin-left: -65px;
    margin-bottom: -487px;
    margin-top: 12px;
}
 }.edit-bg {
    width: 678px;
    margin-left: -195px;
    margin-bottom: -515px;
    margin-top: -117px;
 }
 .upload-bg{
    width: 552px;
    margin-top: -37px;
    margin-left: 107px;
}
.animal-name{
   color: black;
}

.photo-prompt{
         height: 23vh;
    width: 23vh;
    border-radius: -23px;
    background-position: center;
    margin-top: 6px;
    margin-left: 34px;
}
#animal-edit-form{
   padding-left: 30px;
margin-left: 147px;}
#animal-edit-form.overscroll{
   width: 278px;
margin-left: 151px;
margin-top: 30px;

}
 #delete-squirrel{
      top: 548px;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    margin: 21px 119px 0 109px;
    padding: -4px 107px;
    outline: none;
  background-color: #f8f8f8;
    border: none;
   border-radius: -30.85em;
    box-shadow: 0 9px #484a4a;
  width: 152px;
    height: 54px;
    padding-top: 14px;
    margin-top: 35px ;
 }
/* #delete-squirrel{
 display:inline-block;
padding: 0.7em 7.4em;
margin: 0 21.3em 24.3em 0;
border-radius: -30.85em;
box-sizing: border-box;
text-decoration:none;
font-family:var(--sans-serif);
text-transform:uppercase;
font-weight:400;
color:  background-color: var(--color-neutral-light);
 background-color: var(--color-neutral-light);
box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
text-align:center;
position:relative;
width: 152px;
margin-top: 40px;*/

/* Image Picker */
.imagepicker.replace {
    position: absolute;
    top: -40;
    left: 0;
    width: 228px;
    height: 1047px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    margin-left: 74px;
    margin-top: -498px;
    /* border: 4px solid gray; */
    padding-right: ;
    : 71px;
    margin-left: 2;
    margin-left: 87px;
    margin-top: -444px;
    /* border: 4px solid gray; */
    padding-right: ;
}

margin-left: 70px;margin-top: -498px;/* border: 4px solid gray; */padding-right;: 71px;margin-left: 2;
}
.imagepicker.replace input {
   display: none;
  
}











/* Animal List */

.animal-list {
   list-style-type: none;
   padding: 0;
   margin: 0;
   padding: 0 1em;
   height: 100%;
   width: 100%;
   position: relative;
   overflow: auto;
}
.animal-list-item a {
   display: flex;
   font-weight: normal;
   margin: 1em 0;
   border-radius: 0.5em;
   overflow: hidden;
   box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}
.animal-list-item a:hover {
   text-decoration: none;
}
.animal-list-image img {
   width: 6em;
   vertical-align: text-bottom;
}
.animal-list-body {
   padding: 1em;
}
.animal-list-name {
   font-size: 1.3em;
}



#animal-profile-page [data-role="main"] {
   display: flex;
   flex-direction: column;

}

#animal-profile-page header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    /* background-color: rgba(255,255,255,0.1); */

}
.animal-profile-top {
height: 23vh;
    width: 23vh;
    border-radius: -23px;
    background-position: center;
    margin-top: 6px;
    margin-left: 34px;
  
 }

/*.animal-bg{
  
    size: 100%;
    padding-top: -53px; 
    margin: 2 4 5 4;
    border: 2px red solid*/

.animal-profile-bottom {
   flex: 1 1 auto;
   position: relative;
   margin-top: 20px;
}
.animal-profile-nav {
   height: var(--header-height);
   line-height: var(--header-height);
   display: flex;
}
.animal-profile-nav {
   height: var(--header-height);
   line-height: var(--header-height);
   display: flex;
}
.animal-profile-nav div {
    /* border-bottom: -22px; */text-align: center;
    cursor: pointer;
    font-size: 1em;
    /* margin: 21px 60px 0 8px; */
    outline: none;
    background-color: var(--color-neutral-light);
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 -0.6em 0 -0.35em rgb(0 0 0 / 17%);
    width: 119px;
    height: 40px;
    padding-right: 25px;
    padding-left: 25px;
    /* padding-bottom: 66px; */
    margin-bottom: 144px;
  

padding-top: 30;}

.animal-profile-nav div.active {
 background-color: var(--color-neutral-medium);
  box-shadow: 0 5px #414734;
  transform: translateY(4px);
   margin-bottom: 144px;

}

.animal-profile-bottom>div {
   opacity: 0;
   pointer-events: none;
   transition: all 0.3s;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.animal-profile-bottom div.active {
   padding-top: 41px;
   opacity: 1;
   pointer-events: initial;
}

.animal-profile-description active{
   background-color: #dbc077;
    margin: 3px 3px 3px 3xp;
    margin: 49px 3px 18px 7px;
    /* border: 3px solid black; */
    height: 284px;
    position: absolute;
}


.edit-page-button{
  
display:inline-block;
padding: 0.6999999999999993em 0.40000000000000036em;
margin: 0 21.3em 24.3em 0;
border-radius: -30.85em;
box-sizing: border-box;
text-decoration:none;
font-family:var(--sans-serif);
text-transform:uppercase;
font-weight:400;
color:  background-color: var(--color-neutral-light);
 background-color: var(--color-neutral-light);
box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
text-align:center;
position:relative;
width: 162px;
margin-top: 40px;

}
.edit-page-button:hover{
   color:#000000;
background-color:#FFFFFF;

}

@media all and (max-width:30em){
.edit-page-button{
display:block;
margin:0.4em auto;
}
}
.user-password-button{
display: inline-block;
    padding: 0.7000000000000002em 1.4em;
    margin: 10em 0.2999999999999998em 25.299999999999997em 0;
    border-radius: -30.85em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--sans-serif);
    text-transform: uppercase;
    font-weight: 400;
    color: background-color: var(--color-neutral-light);
    background-color: var(--color-neutral-light);
    box-shadow: inset 0 -0.6em 0 -0.35em rgb(0 0 0 / 17%);
    text-align: center;
    position: relative;
    width: 164px;
    margin-top: 30px;
    margin-left: 109px;
}

.user-password-button:hover{
   color:#DDDDDD;
border-color:#DDDDDD;
}

.user-password-button:active{
   color:#BBBBBB;
border-color:#BBBBBB;
}

@media all and (max-width:30em){
.edit-page-button{
display:block;
margin:0.4em auto;
}
}

/*.edit-page-button: hover{
   background-color:white;

}*/
/*.edit-page-button.active {
 background-color: var(--color-neutral-medium);
  box-shadow: 0 5px #414734;
  transform: translateY(4px);
}*/


.animal-profile-nav div: hover{
   background-color: #2ecc71;
}


.breed-type1{
   width:8em;
   height: 8em;
   background-color: yellow;
   border: 1px solid yellow;
   border-radius:5%;
   margin: 4px;
}
.breed-type2{
   width: 8em;
   height: 8em;
   background-color: yellow;
   border: 1px solid yellow;
   border-radius:5%;
     margin:4px;
}
.breed-type3{
   width: 8em;
   height: 8em;
   background-color: yellow;
   border: 1px solid yellow;
   border-radius:5%;
     margin: 4px;
}
.animal-profile-img{
   width: 30px;
}
/* foote nav */
.nav-icon-set li.active {
   
}
.nav-icon {
  line-height: 2rem;
  display: block;
}
.nav-icon .icon {
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.nav-icon-label {
  line-height: 1rem;
  display: block;
  font-size: 0.8em;
}



.map-placeholder {
   background-image: url(../imgs/fakemap.jpg);
   background-position: center;
   background-size: cover;
}
.icon {
   width: 2rem;
   height: 2rem;
   vertical-align: middle;
}


.footer-template{
   border: 1px solid red;
}


.animal-edit-image{
   width: 7.5em;
   height: 5.5em;
   vertical-align: text-bottom;
   border-radius:1.5em;
   margin-top: .5em;
   width: 300px;
   height: 200px;
}

.form-input-img{
  padding-left: 10em;
  
  padding-top: 10px;
  
  padding-left: 20;

}
#logout {
  margin-left: 30px;
    width: 8em;
    height: 2em;
    background-color: #b32700;
    border: none;
    color: white;
    font-family: Raleway;
    font-weight: bold;
    font-size: 100%;
    padding-bottom: -1em;
    padding-top: -1.6500000000000004em;
    border-radius: 5px;
    transition: background .5s;
    -webkit-transition: background .5s;
}


  }
 #note{
   font-size: 1.5em;
   text-align: center;
 }

/*.photo-bg{
   width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    display: block;
    border: 1px solid var(--color-main-light);
    background-color: white;
    margin-bottom: 40px;
  }*/
  .photo-prompt{
   margin-left: 34px;
   margin-top: -225px;
}


/* Layout Classes */

.hidden { display:none; }

.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex:none; }
.flex-throughout { flex: 1 0 100%; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }

.flex-column { flex-direction:column; }
.overscroll { overflow:auto; }


.text-center { text-align:center; }
.fill-parent {
   height: 100%;
   width: 100%;
}
.noclick-children * { pointer-events:none; }
.card.soft{
   border-radius: 0.5ems;
    box-shadow: 0 8px 5px 0 rgb(0 0 0 / 5%), 0 6px 5px 0 rgb(0 0 0 / 5%);

}
.card{
   background-color:  var(--color-white);
   margin-top: 0em;
   margin-bottom: 1em;
   padding: 1em;

   overflow: hidden;
   position:relative;
}


