/*.page-wrapper {
    margin: auto;
    width: 892px;
    background: url('img/backround.png');
    position: relative;
}*/

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,400;0,700;1,500&display=swap');

 html, body {
    padding: 0;
    margin: 0;
}
*{

    box-sizing: border-box;
}

body{
     
    color: #fff;
    background: #c3d263;
     font-family: 'K2D', sans-serif;
     font-size: 70%;
  
}
.page-wrapper{
    position: relative;
}

@media not all, not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 1.5dppx);
header {
     background-image:url('img/banner.png');
    background-size: 100% auto, auto, auto, cover;
}

@media only screen and (max-width: 1132px);
header {
    border-top: solid 10px rgba(8, 8, 8, 0.9);
}

header {
    height: 230px;
    padding: 20px 0 70px 0;
    background-image:url('img/banner.png');
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    text-align: center;
    font-family: 'Bungee', cursive;
}

@media only screen and (max-width: 500px)
h1::before {
    display: block;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: 0 0 0 -25px;
    padding: 0 0 35px 0;
   
}
/*@media only screen and (max-width: 600px)
h1::before {
    width:100px;
    height: 100px;
}
h1::before {
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    width: 80px;
    height: 80px;
    margin: -20px 20px 0 0;
   /* background: url('img/zen_logo.png');*/
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
    
}*/

@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}

element.style {
}
@media only screen and (max-width: 500px)
h1 {
    margin: 0;
}
@media only screen and (max-width: 600px)
h1 {
    margin-top: 30px;
    font-size: 2.5em;
}
h1 {
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: none;
   font-family: 'Bungee', cursive
    font-size: 3.2em;
    text-transform: uppercase;
}
h1, h2 {
    padding: 0 10%;
    margin: 0;
    color: #fff;
    font-weight: normal;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}







}
/*
#css-zen-garden{
    width: 100%;

}



}
*/

/*.page-wrapper{
padding:  0 1em;
  max-width:  1920px;
    margin: 0, auto;
  border:  2px solid red;

    background-color:#929597;
position: relative;
 font-family: 'K2D', sans-serif;
 font-size: 25px;
}

.intro{
    background-color: #c3d263;
    width:  100%;
}
header{
   font-family: 'Bungee', cursive;
    font-size:  39px;
       background:url('img/banner.png') ;
       color:  white;
        
}

h1, {
 color: green;
 font-family: 'K2D', sans-serif;

}

h3{
    color:  yellow;
}
*/


